* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contactFormSec {
    display: flex;
    justify-content: space-between;
    margin-right: 20em;
    flex-direction: row-reverse;

}

.avatar {
    display: flex;

    position: absolute;
    flex-direction: row;
    justify-content: start;
    height: 60em;
    width: 120%;
}

.formSec {
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
    flex-direction: column;
    width: 40em;
    background-color: red;
    height: 10em;
}