* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #000000;
    font-weight: bold;
    padding: 2.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.navList {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.fixed-header {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.whiteTittle {
    color: white;
    text-shadow: 2px 7px 5px rgba(93, 93, 93, 0.2);
}

.activeLinks {
    text-decoration: none;
    color: white;
    border-bottom: solid 2px white;
    padding-bottom: 2px;
}

.nonActiveLinks {
    text-decoration: none;
    position: relative;
    color: white;
    padding-bottom: 5px;
}

.nonActiveLinks:hover {
    text-decoration: none;
    position: relative;
    color: white;
    padding-bottom: 5px;
}

.nonActiveLinks::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.serviceDropDown {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    gap: 5px;
    background-color: rgb(238, 238, 238);
    margin-top: 2px;
    padding-top: 15px;
    padding: 12px 20px;
}

.homeDrop {
    background-color: #fdf8f3;
}

.arrowIcon {
    background-image: url('./img/down-arrow.png');
    background-size: cover;
    width: 10px;
    height: 10px;
}

.drpoLinkHome {
    color: black;
}

.dropLink {
    color: rgb(99, 98, 98);
}

.dropLink:hover {
    color: black;

}

.servLink:hover+.serviceDropDown {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

.serviceDropDown:hover {
    visibility: visible;

}

.nonActiveLinks:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.singUpB {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    text-decoration: none;
    background-color: white;
    color: #FCA253;
    padding: 10px;
}

.signBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 85px;

}

.signBtn:hover,
.singUpB:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.myNum {
    letter-spacing: 5px;
    margin-right: 2em;
    color: rgba(0, 0, 0, .6);
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin-top: 80px;
    z-index: 2;
}

.phoneLink {
    text-decoration: none;
    z-index: 2;

}

.numContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 450px;
    margin: auto;
}

.waveOutline {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('./img/waveOutline.svg');
    background-size: cover;
}

.wave {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('./img/wave.svg');
    background-size: cover;
}

.icon {
    background-image: url('./img/icon.png');
    background-size: cover;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}