* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* outline: auto; */
}

body {
    overflow-x: hidden;
}

.navHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navHeader {
    display: flex;
}

.navListHome {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin-left: 5rem;
    z-index: 1;
}

.titleHome {
    color: black;
    text-shadow: 2px 7px 5px rgba(93, 93, 93, 0.1);
}

.linksHome {
    text-decoration: none;
    color: rgb(131, 131, 131);
    padding-bottom: 5px;
    position: relative;
}

.linksHome::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FCA253;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.linksHome:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#homeLink {
    border-bottom: solid 2px #FCA253;
    text-decoration: none;
    color: rgb(131, 131, 131);
    padding-bottom: 2px;
    position: relative;
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    text-decoration: none;
    color: #FCA253;
    padding: 10px;
}

.signInBtn {
    width: 85px;
}

.singUpBtn {
    color: white;
    background-color: #FCA253;
}

.linkBtn:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.navButton {
    display: flex;
    gap: 20px;
}

.orangeTool {
    background-image: url('./img/orangeTool.png');
    background-size: cover;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.mainContainer {
    display: flex;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 60em;
}

.avatarImg {
    background-image: url("./img/avatar.png");
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 70%;
    margin-bottom: 5em;
}

.titleAndSlogan {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.homeSlogan {
    background-image: linear-gradient(to left, #0f2e54, #d2c5b5);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 5em;
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding: 10px 3px 3px 10px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -4px;
}

.introductionPar {
    font-family: "dosis", sans-serif;
    max-width: 800px;
    margin: 1rem 8% 1rem;
    font-size: 18px;
}

.quoteBtnHome {
    margin-top: 3em;
    margin-left: 4em;
    background: #FCA253;
    border: none;
    border-radius: 25px;
    color: snow;
    cursor: pointer;
    font-size: 1.25em;
    letter-spacing: .1em;
    outline: none;
    padding: .75em 2em;
    position: relative;
    text-transform: uppercase;
}

.quoteBtnHome::before {
    background: #FCA253;
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.quoteBtnHome:hover::before {
    filter: blur(20px);
    opacity: 1;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(239, 151, 83, 0.2);
    animation: animate 26s linear infinite;
}

.background li:nth-child(0) {
    left: 64%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 37%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 1s;
}

.background li:nth-child(2) {
    left: 29%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 2s;
}

.background li:nth-child(3) {
    left: 56%;
    width: 177px;
    height: 177px;
    bottom: -177px;
    animation-delay: 10s;
}

.background li:nth-child(4) {
    left: 88%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 5s;
}

.background li:nth-child(5) {
    left: 58%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 8s;
}

.background li:nth-child(6) {
    left: 53%;
    width: 189px;
    height: 189px;
    bottom: -189px;
    animation-delay: 13s;
}

.background li:nth-child(7) {
    left: 4%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 31s;
}

.background li:nth-child(8) {
    left: 27%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 32s;
}

.background li:nth-child(9) {
    left: 74%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 19s;
}