* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2.5em;

}

.navHeader {
    display: flex;
}

.navListHome {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin-left: 5rem;
    z-index: 1;
}

.titleHome {
    color: black;
    text-shadow: 2px 7px 5px rgba(93, 93, 93, 0.1);
}

.linksHome {
    text-decoration: none;
    color: rgb(131, 131, 131);
    padding-bottom: 5px;
    position: relative;
}

.linksHome::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FCA253;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.linksHome:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#homeLink {
    border-bottom: solid 2px #FCA253;
    text-decoration: none;
    color: rgb(131, 131, 131);
    padding-bottom: 2px;
    position: relative;
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    text-decoration: none;
    color: #FCA253;
    padding: 10px;
}

.signInBtn {
    width: 85px;
}

.singUpBtn {
    color: white;
    background-color: #FCA253;
}

body {
    /* background-color: #FCA253; */
}

.linkBtn:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.navButton {
    display: flex;
    gap: 20px;
}

.orangeTool {
    background-image: url('./img/orangeTool.png');
    background-size: cover;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.whiteBox {
    margin-left: 45%;
    margin-top: 15%;
    z-index: -1;
    transform: rotate(60deg);
    border-radius: 300px;
    background-color: white;
    height: 100vh;
    width: 120%;
}

.blob {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 800px;
    height: 800px;
    margin-left: 50%;
    background-size: cover;
    background-image: url("./img/Blob.png");

}

.room {
    display: flex;
    height: 700px;
    width: 100%;
    margin-left: 20em;
}