.servicesLink {
    color: white;
}

.secStyleBtn {
    color: white;
}

.servicesLink:hover {
    border-bottom: solid 2px white;
}

.servicesSelected {
    border-bottom: solid 2px white;
}

.whiteTittle {
    color: white;
}

.secStyleBtnSignUp {
    color: #FCA253;
    background-color: white;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: .6em;
}