.specSelecter {
    border-bottom: solid 2px white;
}

.servicesSelected {
    border-bottom: solid 2px transparent;
}

main {
    /* Do this to prevent the header img to distor */
    margin-top: 7em;
}